@font-face {
  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/ZenKakuGothicNew-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/ZenKakuGothicNew-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/ZenKakuGothicNew-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/ZenKakuGothicNew-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/ZenKakuGothicNew-Black.woff2) format("woff2");
}
